@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 700;
}

.card-container{
    background-color: #C4C4C4; 
}

.card {
    margin: 50px 50px;
    background-color: #E6E6E6;
    margin-top: 50px;
}

.clearfix {
    clear: both;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #FC8F8F;
}

.right {
    float: right;
}

.left {
    float: left;
}

.margin {
    margin-right: 15px;
}

p {
    font-family: "Roboto-Regular";
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
    padding: 62.5px 0;   
}

.box.small-box {
    width: 100px;
    height: 100px;
}

.box.small-box p {
    font-size: 36px;
    line-height: 37.5px;
    margin: 0;
    padding: 31px 0;
}

